*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body{
    height: 100%;
    margin-bottom: 1px;
}
h1,h2,h3{
    font-weight: 900;
}
h1{
    text-transform: uppercase;
}
.cover{
    width: 100%;
}
.menu{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    background-color: #720000;
    list-style: none;
    padding: 20px 0 20px 0;
}
.menu a{
    color: white;
    font-weight: 300;
    margin-right: 40px;
    font-size: 1.5em;
    text-decoration: none;
}
.reservation a{
    color: #720000;
    background-color: white;
    padding: 5px 10px 5px 10px;
    text-shadow: 2px 2px 5px grey;
    box-shadow: 2px 2px 5px grey;
    font-weight: bold;
}
.reservation a:hover{
    background-color: lightgray;
}
footer{
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    -webkit-flex-flow: row wrap;
    background-color: #720000;
    list-style: none;
    padding: 1rem 5rem;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
.content{
    margin: 50px 100px 50px 100px;
}
.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}
#description{
    margin-bottom: 50px;
    text-align: center;
}
#description h1{
    color: #720000;
    font-size: 3em;
}
.box{
    border: solid #720000;
    /*min-width: 20%;*/
    /*max-width: 45%;*/
    width: 48%;
    min-height: 300px;
    margin: 1em 0;
}

/*noinspection ALL*/
.special, .special .price {
    color: White;
    background: #720000;
}
.price {
    font-size: 500%;
    font-weight: bolder;
    color: #720000;
    float: right;
}

.padding{
    padding: 20px;
}
.center{
    text-align: center;
    margin: 1em auto;
}

.title{
    background-color: #720000;
    color: white;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table.truncated thead tr{
    background-color: #720000;
    color: White;
}
table.truncated th{
    padding: .5rem;
    text-align: left;
}
table.truncated tr:nth-child(2n){
    background-color: #FDD;
}
table.truncated td{
    padding: .5rem;
    max-width: 50rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #720000;
}
table.truncated td.action{
    border-width: 1px 0;
    width: 5rem;
}
table.truncated .action{
    text-align: center;
}
button, a.button{
    background-color: #720000;
    color: White;
    font-weight: bold;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border: 1px solid White;
    box-shadow: 0 0 3px #720000;
}
.buttons{
    padding-left: .5rem;
}
.buttons a.button{
    background-color: White;
    color: #720000;
    display: inline;
    border: 1px solid #720000;
    box-shadow: 0 0 3px White;
}
div.buttons {
    position: relative;
    top: -2.7em;
    max-width: 50%;
}
